:root {
    /*### Primary*/

    --moderate-violet: hsl(263, 55%, 52%);
    --violet-border:rgb(168,116,243);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /*### Neutral*/

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /*Note for text colors:
    1. "Verified Graduate" has the same color as the person's name with 50% opacity
    2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity*/

    /*Font*/
    --font-barlow: 'Barlow Semi Condensed', sans-serif;
}

body {
    font-family: var(--font-barlow);
    padding: 2rem;
    background-color: var(--light-grayish-blue);
}

.grid__container {
    display: grid;
    gap: 2rem;
}

.card__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 1.5rem;
}

.card__container1 {
    background-color: var(--moderate-violet);
}

.card__container2 {
    background-color: var(--very-dark-grayish-blue);
}

.card__container3 {
    background-color: var(--white);
}

.card__container4 {
    background-color: var(--very-dark-blackish-blue);
}

.image__class {
    border-radius: 50%;
    width: 2.5rem;/*15%;*/
    z-index: 1;
}

.image__class1 {
    border: 3px solid var(--violet-border);
}

.profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    justify-content: left;
}

.quotation__icon {
    position: absolute;
    top: 2rem;
    right: 3.5rem;
    z-index: 0;
}

.name-status__container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.name__container {
    font-weight: 600;
}

.name__container1 {
    color: var(--white);
    z-index: 1;
}

.name__container3 {
    color: var(--very-dark-grayish-blue);
}

.status__container1 {
    color: var(--white);
    opacity: 50%;
    font-weight: 500;
    font-size: 12px;
}

.status__container3 {
    color: var(--very-dark-grayish-blue);
    opacity: 50%;
    font-weight: 500;
    font-size: 12px;
}

.text__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.text__container-main {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5rem;
    width: 90%;
}

.text__container-main1 {
    color: var(--white);
    z-index: 1;
}

.text__container-main3 {
    color: var(--very-dark-grayish-blue);
}

.text__container-main4 {
    color: var(--light-grayish-blue);
}

.text__container-description {
    opacity: 70%;
    font-size: 13px;
    line-height: 1.2rem;
    font-weight: 500;
    width: 90%;
}

.text__container-description1 {
    color: var(--white);
}

.text__container-description3 {
    color: var(--very-dark-grayish-blue);
}

.text__container-description4 {
    color: var(--light-grayish-blue);
    opacity: 70%;
    font-size: 13px;
}

.text__container-description1, .text__container-description4 {
    font-weight: 400;
}

.attribution {
    margin-top: 1rem;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.attribution a {
    text-decoration: none;
    color: var(--moderate-violet);
}


@media screen and (min-width: 1440px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 8rem;
    }

    .grid__container {
        grid-template-columns: 0.9fr 1fr 1fr 0.8fr;
        grid-template-areas: 
        "Daniel Daniel Jonathan Kira"
        "Jeanette Patrick Patrick Kira";
    }

    .quotation__icon {
        position: absolute;
        top: 6.9rem;
        left: 30rem;
        z-index: 0;
    }
    
    .card__container1 {
        grid-area: Daniel;
    }

    .card__container2 {
        grid-area: Jonathan;
    }

    .card__container3 {
        grid-area: Jeanette;
    }

    .card__container4 {
        grid-area: Patrick;
    }

    .card__container5 {
        grid-area: Kira;
    }
}